<h1>meow</h1>

<%= link_to "new", new_deck_path %>

<ul>
<% @decks.each do |deck| %>
  <li>
    <%= link_to deck.name, deck %><!-- == deck_path(deck) -->
    -
    <%= link_to "edit", edit_deck_path(deck) %>
    <%= link_to "delete", deck, :method => "delete", :data => { :confirm => "Are you sure?" } %>
  </li>
<% end %>
</ul>
